.article-post {
  img,
  pre {
    @apply mb-4 rounded-lg;
  }

  img {
    @apply block mx-auto;
  }

  :where(h1, h2, h3, h4, h5, h6):has(a) {
    @apply mb-[1em] font-ibm;
  }
  :is(h1, h2, h3, h4, h5, h6) a {
    @apply no-underline hover:underline;
  }
  :is(h1, h2, h3, h4, h5, h6) a:before {
    content: '## ';
    @apply text-gray dark:text-gray-light;
  }
  :is(h3) a:before {
    content: '### ';
  }
  :is(h4) a:before {
    content: '#### ';
  }
  :is(h5) a:before {
    content: '##### ';
  }
  :is(h6) a:before {
    content: '###### ';
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  ul,
  ol,
  p,
  hr,
  pre,
  blockquote,
  table,
  details {
    margin-bottom: 1.45em;
  }

  ul li {
    @apply mb-4;
  }

  li > ul {
    @apply my-2;
  }

  ul,
  ol {
    padding-left: 1.2em;
  }

  code {
    @apply font-ibm;
  }

  :is(p, ul, blockquote, details) code {
    @apply bg-fwhite dark:bg-gray-darkest text-primaryDark dark:text-gray-lightest p-1 rounded-md text-sm;
  }
  :is(h1, h2, h3, h4, h5, h6) code {
    @apply bg-gray-lightest dark:bg-gray-darkest p-1 rounded-md;
  }

  a[data-footnote-backref] {
    @apply pl-2;
  }
}

.post-container {
  @apply w-3/4 xl:w-1/2 mx-auto sm:text-lg max-w-3xl;
}

/* Foot notes */
a[aria-describedby='footnote-label'] {
  @apply scroll-mt-24;
}

/* Blockquotes */

blockquote {
  @apply px-4;
}

blockquote p {
  @apply italic relative;
}

blockquote p:before,
blockquote p:after {
  text-box: trim-both cap alphabetic;
  @apply absolute leading-none opacity-25 -z-1 text-gray-darker dark:text-gray-light text-5xl font-bold;
}

blockquote p:before {
  content: ' «';
  @apply -left-4 top-0;
}

blockquote p:after {
  content: '»';
  @apply right-0 bottom-0;
}
