@custom-selector :--headings h1, h2, h3, h4, h5, h6;

body {
  @apply font-ibm-sans;
}

a {
  @apply text-accent dark:text-actionDark underline underline-offset-1;
}

ul,
ol,
p {
  @apply mb-4;
}

p {
  @apply leading-normal;
}

:state(headings) {
  @apply leading-tight text-gray-darkest dark:text-gray-lightest mb-2 font-bold;
}

.title {
  font-family: var(--bold-titles), sans-serif;
}

.title-bold {
  font-family: var(--bold-titles), sans-serif;
  @apply font-black italic;
}
